@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  #text2 {
    font-size: 3rem;
    letter-spacing: 31px !important;
    line-height: 10px;
    text-indent: 10px !important;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin-top: 2rem !important;
}

.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white) !important;
  color: var(--clr-secondary) !important;
  border-color: var(--clr-secondary) !important;
}
/* section */
.section {
  padding-bottom: 5rem;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* navbar */
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
  /* overflow-y: visible !important; */
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  z-index: 100;

  overflow-y: hidden;
  transition: 2s ease;
}

.fixed-nav .links .dropbtn {
  color: var(--clr-grey-1);
}
.fixed-nav .links .dropbtn:hover {
  color: #85d5df;
}

.fixed-nav .links a {
  color: var(--clr-grey-1);
  text-decoration: none;
}
.fixed-nav .links a:hover {
  color: #85d5df;
}
.fixed-nav .dropdown-content {
  margin-top: 30px;
}

/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 0.8rem;
  text-transform: capitalize;
  letter-spacing: 0;
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
/* .links a:hover { */
/* color: var(--clr-grey-1); */
/* } */
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
    padding: 0;
    height: 82px;
    overflow-y: visible !important;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
    overflow-y: visible !important;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    float: right;
  }
  .links {
    /* margin-top: 0; */
    overflow: hidden;
    height: auto;
    /* background-color: red; */
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0;
    float: left;
    transition: var(--transition);
    margin: 0;
    font-weight: bold;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    /* width: 60px; */
  }
  .links a:hover,
  .dropdown:hover .dropbtn {
    color: var(--clr-grey-1);
  }
  .dropdown {
    overflow: visible;
    float: left;
    width: 60px;
    margin-right: 32px;
  }

  .dropdown .dropbtn {
    font-weight: bold;
    font-size: 1rem;
    border: none;
    outline: none;
    color: var(--clr-white);
    padding: 14px 16px;
    padding-right: 16px;
    text-align: center;
    background-color: inherit;
    font-family: inherit;
    margin-right: 16px;
    letter-spacing: 0;
  }
  .dropdown-content {
    visibility: hidden;
    /* margin-top: 30px; */
    /* position: absolute; */
    background-color: #f9f9f9;

    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 300;
    /* height: 200px; */
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
  }
}
/* hero */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80)
      center/cover no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
  animation: run-right 2s ease;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  animation: run-left 2s ease;
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}
/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}
/* .section { */
/* height: 80vh; */
/* } */
#services {
  background: var(--clr-white);
}
footer {
  background: var(--clr-grey-1);
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

.main-container {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 50px 50px 0px 50px;
}

.img-container {
  height: 420px;
  width: 700px;
  background-color: red;
  margin-right: 40px !important;
  margin-left: 50px;

  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1579403124614-197f69d8187b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)
      center/cover no-repeat;
}
.containers {
  margin-left: 20px;
}

.containers h1 {
  font-size: 3.5rem;
  color: #f0f0f0;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: 0;
  margin-left: 0px;
}

.containers p {
  font-size: 2rem;
  color: #f0f0f0;
  font-weight: lighter;
  text-transform: uppercase;
}

.img-banner {
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.course-features {
  height: 420px;
  background-color: var(--clr-black);
  width: 400px;
  padding: 1rem;
}

.course-features h4 {
  /* text-align: center; */
  font-weight: bolder;
  text-transform: capitalize;
  color: white;
  letter-spacing: 0px;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.underline {
  background-color: yellow;
  width: 50px;
  height: 2px;
  margin-bottom: 15px;
}
.course-features p {
  color: white;
  font-weight: normal;
  font-size: 0.9rem;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.thin-underline {
  /* background-color: grey; */
  border: 0.5px solid grey;
  /* height: 1px; */
  width: 100%;
  margin-bottom: 15px;
}

.section-details {
  margin: 0 auto;
  width: 100%;
  padding: 50px 50px 0px 50px;
}

.section-details h2 {
  /* text-align: center; */
  text-transform: capitalize;
  font-weight: bolder;
  letter-spacing: 0;
  margin-left: 50px;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes run-right {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes run-left {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0);
  }
}
